$('#crude_noun_list').append("<li id=\"cn_<%= @crude_noun.id %>\"><a rel=\"nofollow\" href=\"/crude_nouns/<%= @crude_noun.id %>\" data-remote=\"true\" data-method=\"delete\"><i class=\"icon-remove\"></i></a> <%= @crude_noun.word %></li>");
$('#status_message').html("<%= @crude_noun.word %> successfully added!");
$('#crude_noun_word').val('');
