$('#mean_adjective_list').append("<li id=\"ma_<%= @mean_adjective.id %>\"><a rel=\"nofollow\" href=\"/mean_adjectives/<%= @mean_adjective.id %>\" data-remote=\"true\" data-method=\"delete\"><i class=\"icon-remove\"></i></a> <%= @mean_adjective.word %></li>");
$('#status_message').html("<%= @mean_adjective.word %> successfully added!");
$('#mean_adjective_word').val('');
