$('#random_noun_list').append("<li id=\"rn_<%= @random_noun.id %>\"><a rel=\"nofollow\" href=\"/random_nouns/<%= @random_noun.id %>\" data-remote=\"true\" data-method=\"delete\"><i class=\"icon-remove\"></i></a> <%= @random_noun.word %></li>");
$('#status_message').html("<%= @random_noun.word %> successfully added!");
$('#random_noun_word').val('');
